In [1]:
#15/8/24 Given the PaDEL output allocates the SMILES back to their original files

import pandas as pd
import os
import numpy as np

targetdata = pd.read_csv('/Users/james/Documents/Honours/Data/Unified_SMILES/PaDEL_Prep/PaDEL_Out/padel_unified.csv')
indexdf = pd.read_csv('/Users/james/Documents/Honours/Data/Unified_SMILES/PaDEL_Prep/padel_index.csv')
index = list(indexdf['0'].values)

In [2]:
#Due to how PaDEL reads file inputs, the data is not properly indexed so a reference file is needed
targetdata

,Name,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,...,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,0,0.0,-0.0901,0.008118,22.7848,18.100379,5,5,13,10,...,11.615988,20.410410,2.041041,14.696329,0.000000,12.151004,105.0,12.0,-0.854,52.0
1,1,0.0,0.5533,0.306141,46.3407,48.472688,11,11,44,28,...,9.275589,56.035141,2.001255,32.971068,2.558423,15.690387,2281.0,45.0,3.339,150.0
2,10,0.0,-3.6782,13.529155,184.4640,126.062752,0,0,119,55,...,6.558232,NaN,NaN,NaN,NaN,NaN,14940.0,113.0,2.174,320.0
3,100,0.0,-1.3022,1.695725,49.7147,58.183653,12,12,49,28,...,7.717587,57.696415,2.060586,17.745116,5.137395,10.091074,2452.0,43.0,3.884,148.0
4,1000,0.0,0.5407,0.292356,53.1268,62.985446,17,18,53,31,...,8.399021,63.084495,2.034984,25.894428,2.511006,15.818162,2658.0,52.0,3.758,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17768,9995,0.0,-0.8408,0.706945,6.6000,61.295860,26,28,48,28,...,7.503389,59.086900,2.110246,6.325788,0.000000,6.325788,2440.0,43.0,10.354,152.0
17769,9996,0.0,1.2901,1.664358,32.5851,16.182758,0,0,12,6,...,17.989878,10.675851,1.779308,7.109354,2.363633,0.000000,31.0,4.0,1.581,20.0
17770,9997,0.0,-1.2282,1.508475,27.7002,20.697102,0,0,21,7,...,4.862117,12.669197,1.809885,2.398151,2.398151,0.000000,48.0,6.0,1.717,24.0
17771,9998,0.0,-0.0081,0.000066,36.5255,23.428688,0,0,24,8,...,4.838806,14.665871,1.833234,5.556739,0.000000,5.556739,72.0,7.0,0.133,28.0
17772,9999,0.0,0.7443,0.553982,5.6156,21.773965,6,6,13,8,...,24.152202,15.692665,1.961583,5.213643,0.000000,0.000000,64.0,7.0,3.103,34.0

In [3]:
#First the original SMILES will be reattached to the PaDEL output dataframe in place of its index for clarity
replacements = []
for item in targetdata['Name']:
    replacements.append(index[item])

In [4]:
#the 'replacements' list also acts as an index for future use
#the 'Name' column is then dropped
targetdata['Name'] = replacements

In [22]:
datasets = []
index = []
directory = '/Users/james/Documents/Honours/Data/ProcessedRaws/'
namelist = []
smiles = []
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    if 'csv' in filename:
        pathname = directory + file
        df = pd.read_csv(pathname)
        datasets.append(df)
        namelist.append(df[:-4])
framelist = []
for df in datasets:
    smiles = list(df['SMILES'].values)
    temp = pd.DataFrame()
    for smile in smiles:
        loops = 0
        for item in replacements:
            if item == smile:
                temp = pd.concat([temp, newdata.iloc[loops]], axis = 1)
            loops += 1
    framelist.append(temp)

In [55]:
newdata

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,AMW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,0.0,-0.0901,0.008118,22.7848,18.100379,5,5,13,10,3,...,11.615988,20.410410,2.041041,14.696329,0.000000,12.151004,105.0,12.0,-0.854,52.0
1,0.0,0.5533,0.306141,46.3407,48.472688,11,11,44,28,16,...,9.275589,56.035141,2.001255,32.971068,2.558423,15.690387,2281.0,45.0,3.339,150.0
2,0.0,-3.6782,13.529155,184.4640,126.062752,0,0,119,55,64,...,6.558232,NaN,NaN,NaN,NaN,NaN,14940.0,113.0,2.174,320.0
3,0.0,-1.3022,1.695725,49.7147,58.183653,12,12,49,28,21,...,7.717587,57.696415,2.060586,17.745116,5.137395,10.091074,2452.0,43.0,3.884,148.0
4,0.0,0.5407,0.292356,53.1268,62.985446,17,18,53,31,22,...,8.399021,63.084495,2.034984,25.894428,2.511006,15.818162,2658.0,52.0,3.758,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17768,0.0,-0.8408,0.706945,6.6000,61.295860,26,28,48,28,20,...,7.503389,59.086900,2.110246,6.325788,0.000000,6.325788,2440.0,43.0,10.354,152.0
17769,0.0,1.2901,1.664358,32.5851,16.182758,0,0,12,6,6,...,17.989878,10.675851,1.779308,7.109354,2.363633,0.000000,31.0,4.0,1.581,20.0
17770,0.0,-1.2282,1.508475,27.7002,20.697102,0,0,21,7,14,...,4.862117,12.669197,1.809885,2.398151,2.398151,0.000000,48.0,6.0,1.717,24.0
17771,0.0,-0.0081,0.000066,36.5255,23.428688,0,0,24,8,16,...,4.838806,14.665871,1.833234,5.556739,0.000000,5.556739,72.0,7.0,0.133,28.0
17772,0.0,0.7443,0.553982,5.6156,21.773965,6,6,13,8,5,...,24.152202,15.692665,1.961583,5.213643,0.000000,0.000000,64.0,7.0,3.103,34.0

In [28]:
finalist = []
loops = 0
for frame in framelist:
    frame = frame.transpose()
    #frame = frame.loc[:,~frame.columns.duplicated()].copy()
    #frame = frame.loc[~frame.index.duplicated(),:].copy()
    toxvals = (datasets[loops]['Toxicity_Value'].values)
    frame.insert(0, 'Toxicity_Value', toxvals)
    
    finalist.append(frame)
    loops += 1

In [52]:
loops = 0
extension = '_PaDEL.csv'
direc = '/Users/james/Documents/Honours/Data/Padel/'
templist = []
for df in finalist:
    newname = namelist[loops] + extension
    path = direc + newname
    
    df.to_csv(path, index = False)
    loops += 1